In [1]:
import pandas as pd

In [5]:
# D35 - Q10: Which of these would be the correct way to create a dataframe?

# A
# df = pd.DataFrame([[1, 2], ["Ram", "Shyam"], ["IT", "Ops"]], columns = ["emp_id", "name", "dept"])

# B
df = pd.DataFrame([[1, "Ram", "IT"], [2, "Shyam", "Ops"]], columns = ["emp_id", "name", "dept"])

# C
# df = pd.DataFrame([1, "Ram", "IT"], columns = ["emp_id", "name", "dept"])

# D
df = pd.DataFrame({'emp_id':[1, 2], 'name': ['Ram', 'Shyam'], 'dept':['IT', 'Ops']})

df

   emp_id   name dept
0       1    Ram   IT
1       2  Shyam  Ops