In [1]:
print("Welcome to Pandas-6")

Welcome to Pandas-6

# Agenda

  - **Restructuring data** ✅
    - `pd.cut()`✅
    
    
  - **Handling Missing Values**✅
  
  
  - **String method in pandas**✅
  
    
  - **Handling datetime** ✅


  - **Writing to a file** ✅

In [3]:
import pandas as pd 
import numpy as np

In [4]:
!gdown 173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ

Downloading...
From: https://drive.google.com/uc?id=173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ
To: /Users/nikhilsanghi/Downloads/01_dsml-course-main-live/batches/1_Aug_Beg_Mon/14_Data_Visulisation_1_Pandas_6/Pfizer_1.csv
100%|██████████████████████████████████████| 1.51k/1.51k [00:00<00:00, 1.79MB/s]

In [127]:
df=pd.read_csv("Pfizer_1.csv")
df.head()

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20

In [128]:
df_melt=pd.melt(df,
                id_vars=["Date","Drug_Name","Parameter"],
                var_name="Time",
                value_name="Reading")
df_melt.head()

         Date                Drug_Name    Parameter     Time  Reading
0  15-10-2020  diltiazem hydrochloride  Temperature  1:30:00     23.0
1  15-10-2020  diltiazem hydrochloride     Pressure  1:30:00     12.0
2  15-10-2020      docetaxel injection  Temperature  1:30:00      NaN
3  15-10-2020      docetaxel injection     Pressure  1:30:00      NaN
4  15-10-2020   ketamine hydrochloride  Temperature  1:30:00     24.0

In [129]:
df_final=df_melt.pivot(index=["Date","Drug_Name","Time"],
       columns="Parameter",
       values="Reading").reset_index()
df_final.head()

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0

In [130]:
df_final

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [9]:
df_final.isna().sum()

Parameter
Date            0
Drug_Name       0
Time            0
Pressure       13
Temperature    13
dtype: int64

In [13]:
df_final.groupby(["Date","Drug_Name"])[["Temperature","Pressure"]].agg({"Temperature":["mean"],"Pressure":["mean"]})

Parameter                          Temperature   Pressure
                                          mean       mean
Date       Drug_Name
15-10-2020 diltiazem hydrochloride   21.454545  16.000000
           docetaxel injection       20.750000  24.875000
           ketamine hydrochloride    23.555556   9.333333
16-10-2020 diltiazem hydrochloride   37.454545  22.545455
           docetaxel injection       51.454545  27.000000
           ketamine hydrochloride    11.500000  14.800000
17-10-2020 diltiazem hydrochloride   15.636364   7.727273
           docetaxel injection       17.500000  24.500000
           ketamine hydrochloride    18.500000  11.500000

In [11]:
df_final.groupby(["Date","Drug_Name"])["Pressure"].mean()

Date        Drug_Name
15-10-2020  diltiazem hydrochloride    16.000000
            docetaxel injection        24.875000
            ketamine hydrochloride      9.333333
16-10-2020  diltiazem hydrochloride    22.545455
            docetaxel injection        27.000000
            ketamine hydrochloride     14.800000
17-10-2020  diltiazem hydrochloride     7.727273
            docetaxel injection        24.500000
            ketamine hydrochloride     11.500000
Name: Pressure, dtype: float64

In [17]:
def calc_mean_temp(x):
    x["temp_mean"]=x["Temperature"].mean()
    return x

In [18]:
df_final=df_final.groupby(["Date","Drug_Name"]).apply(calc_mean_temp)

In [19]:
df_final

Parameter,Date,Drug_Name,Time,Pressure,Temperature,temp_mean
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,21.454545
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,21.454545
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,21.454545
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,21.454545
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,21.454545
...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,18.500000
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,18.500000
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,18.500000
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,18.500000
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,18.500000

In [20]:
def calc_mean_pres(x):
    x["pres_mean"]=x["Pressure"].mean()
    return x

In [21]:
df_final=df_final.groupby(["Date","Drug_Name"]).apply(calc_mean_pres)

In [22]:
df_final

Parameter,Date,Drug_Name,Time,Pressure,Temperature,temp_mean,pres_mean
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,21.454545,16.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,21.454545,16.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,21.454545,16.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,21.454545,16.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,21.454545,16.0
...,...,...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0,18.500000,11.5
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0,18.500000,11.5
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0,18.500000,11.5
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0,18.500000,11.5
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0,18.500000,11.5

In [23]:
df.fillna?

In [24]:
a=df_final.groupby(["Date","Drug_Name"])
a

In [25]:
a.get_group(('15-10-2020', 'diltiazem hydrochloride'))

Parameter,Date,Drug_Name,Time,Pressure,Temperature,temp_mean,pres_mean
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0,21.454545,16.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0,21.454545,16.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0,21.454545,16.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0,21.454545,16.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0,21.454545,16.0
5,15-10-2020,diltiazem hydrochloride,3:30:00,NaN,NaN,21.454545,16.0
6,15-10-2020,diltiazem hydrochloride,4:30:00,11.0,21.0,21.454545,16.0
7,15-10-2020,diltiazem hydrochloride,5:30:00,13.0,21.0,21.454545,16.0
8,15-10-2020,diltiazem hydrochloride,6:30:00,14.0,22.0,21.454545,16.0
9,15-10-2020,diltiazem hydrochloride,7:30:00,16.0,23.0,21.454545,16.0
10,15-10-2020,diltiazem hydrochloride,8:30:00,16.0,21.0,21.454545,16.0
11,15-10-2020,diltiazem hydrochloride,9:30:00,24.0,22.0,21.454545,16.0

In [30]:
df_final["Temperature"].fillna(df_final["temp_mean"],inplace=True)

In [31]:
df_final["Pressure"].fillna(df_final["pres_mean"],inplace=True)

In [32]:
df_final.isna().sum()

Parameter
Date           0
Drug_Name      0
Time           0
Pressure       0
Temperature    0
temp_mean      0
pres_mean      0
dtype: int64

In [33]:
pd.pivot_table(df_final,
              index="Drug_Name",
              columns="Date",
              values=["Temperature"],
              aggfunc="mean",
              margins=True)

Parameter               Temperature
Date                     15-10-2020 16-10-2020 17-10-2020        All
Drug_Name
diltiazem hydrochloride   21.454545  37.454545  15.636364  24.848485
docetaxel injection       20.750000  51.454545  17.500000  29.901515
ketamine hydrochloride    23.555556  11.500000  18.500000  17.851852
All                       21.920034  33.469697  17.212121  24.200617

In [36]:
df_final.drop(columns=["temp_mean","pres_mean"],inplace=True)

In [34]:
# #string Funtions

In [40]:
df_final["Drug_Name"].str.lower()

0      diltiazem hydrochloride
1      diltiazem hydrochloride
2      diltiazem hydrochloride
3      diltiazem hydrochloride
4      diltiazem hydrochloride
                ...
103     ketamine hydrochloride
104     ketamine hydrochloride
105     ketamine hydrochloride
106     ketamine hydrochloride
107     ketamine hydrochloride
Name: Drug_Name, Length: 108, dtype: object

In [41]:
df_final["Drug_Name"].str.upper()

0      DILTIAZEM HYDROCHLORIDE
1      DILTIAZEM HYDROCHLORIDE
2      DILTIAZEM HYDROCHLORIDE
3      DILTIAZEM HYDROCHLORIDE
4      DILTIAZEM HYDROCHLORIDE
                ...
103     KETAMINE HYDROCHLORIDE
104     KETAMINE HYDROCHLORIDE
105     KETAMINE HYDROCHLORIDE
106     KETAMINE HYDROCHLORIDE
107     KETAMINE HYDROCHLORIDE
Name: Drug_Name, Length: 108, dtype: object

In [42]:
df_final["Drug_Name"].str.title()

0      Diltiazem Hydrochloride
1      Diltiazem Hydrochloride
2      Diltiazem Hydrochloride
3      Diltiazem Hydrochloride
4      Diltiazem Hydrochloride
                ...
103     Ketamine Hydrochloride
104     Ketamine Hydrochloride
105     Ketamine Hydrochloride
106     Ketamine Hydrochloride
107     Ketamine Hydrochloride
Name: Drug_Name, Length: 108, dtype: object

In [43]:
df_final["Drug_Name"].str.contains("hydrochloride")

0      True
1      True
2      True
3      True
4      True
       ...
103    True
104    True
105    True
106    True
107    True
Name: Drug_Name, Length: 108, dtype: bool

In [45]:
df_final.loc[df_final["Drug_Name"].str.contains("hydrochloride")]["Drug_Name"].unique()

array(['diltiazem hydrochloride', 'ketamine hydrochloride'], dtype=object)

In [46]:
string="my name is nikhil"
string

'my name is nikhil'

In [50]:
result=string.split()
result

['my', 'name', 'is', 'nikhil']

In [51]:
" ".join(result)

'my name is nikhil'

In [48]:
df_final["Drug_Name"].str.split()

0      [diltiazem, hydrochloride]
1      [diltiazem, hydrochloride]
2      [diltiazem, hydrochloride]
3      [diltiazem, hydrochloride]
4      [diltiazem, hydrochloride]
                  ...
103     [ketamine, hydrochloride]
104     [ketamine, hydrochloride]
105     [ketamine, hydrochloride]
106     [ketamine, hydrochloride]
107     [ketamine, hydrochloride]
Name: Drug_Name, Length: 108, dtype: object

In [53]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         108 non-null    object
 1   Drug_Name    108 non-null    object
 2   Time         108 non-null    object
 3   Pressure     108 non-null    float64
 4   Temperature  108 non-null    float64
dtypes: float64(2), object(3)
memory usage: 5.1+ KB

In [52]:
df_final

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [56]:
df_final["TimeStamp"]=df_final["Date"] + " " + df_final["Time"]
df_final.drop(columns=["Date","Time"],inplace=True)

In [60]:
df_final=df_final[['TimeStamp','Drug_Name', 'Pressure', 'Temperature' ]]

In [61]:
df_final

Parameter            TimeStamp                Drug_Name  Pressure  Temperature
0          15-10-2020 10:30:00  diltiazem hydrochloride      18.0         20.0
1          15-10-2020 11:30:00  diltiazem hydrochloride      19.0         20.0
2          15-10-2020 12:30:00  diltiazem hydrochloride      20.0         21.0
3           15-10-2020 1:30:00  diltiazem hydrochloride      12.0         23.0
4           15-10-2020 2:30:00  diltiazem hydrochloride      13.0         22.0
..                         ...                      ...       ...          ...
103         17-10-2020 5:30:00   ketamine hydrochloride      11.0         17.0
104         17-10-2020 6:30:00   ketamine hydrochloride      12.0         18.0
105         17-10-2020 7:30:00   ketamine hydrochloride      12.0         19.0
106         17-10-2020 8:30:00   ketamine hydrochloride      11.0         20.0
107         17-10-2020 9:30:00   ketamine hydrochloride      12.0         21.0

[108 rows x 4 columns]

In [62]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 0 to 107
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TimeStamp    108 non-null    object
 1   Drug_Name    108 non-null    object
 2   Pressure     108 non-null    float64
 3   Temperature  108 non-null    float64
dtypes: float64(2), object(2)
memory usage: 4.2+ KB

In [63]:
df_final["TimeStamp"]=pd.to_datetime(df_final["TimeStamp"])
df_final

Parameter           TimeStamp                Drug_Name  Pressure  Temperature
0         2020-10-15 10:30:00  diltiazem hydrochloride      18.0         20.0
1         2020-10-15 11:30:00  diltiazem hydrochloride      19.0         20.0
2         2020-10-15 12:30:00  diltiazem hydrochloride      20.0         21.0
3         2020-10-15 01:30:00  diltiazem hydrochloride      12.0         23.0
4         2020-10-15 02:30:00  diltiazem hydrochloride      13.0         22.0
..                        ...                      ...       ...          ...
103       2020-10-17 05:30:00   ketamine hydrochloride      11.0         17.0
104       2020-10-17 06:30:00   ketamine hydrochloride      12.0         18.0
105       2020-10-17 07:30:00   ketamine hydrochloride      12.0         19.0
106       2020-10-17 08:30:00   ketamine hydrochloride      11.0         20.0
107       2020-10-17 09:30:00   ketamine hydrochloride      12.0         21.0

[108 rows x 4 columns]

In [64]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 0 to 107
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TimeStamp    108 non-null    datetime64[ns]
 1   Drug_Name    108 non-null    object
 2   Pressure     108 non-null    float64
 3   Temperature  108 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 4.2+ KB

In [66]:
df_final["TimeStamp"][0]

Timestamp('2020-10-15 10:30:00')

In [67]:
type(df_final["TimeStamp"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [68]:
ts=df_final["TimeStamp"][0]
ts

Timestamp('2020-10-15 10:30:00')

In [69]:
ts.year

2020

In [70]:
ts.month

10

In [72]:
ts.month_name()

'October'

In [73]:
ts.day

15

In [74]:
ts.day_name()

'Thursday'

In [75]:
ts.day_of_week

3

In [76]:
ts.day_of_year

289

In [77]:
ts.week

42

In [78]:
ts.hour

10

In [79]:
ts.minute

30

In [80]:
ts.second

0

In [81]:
ts.microsecond

0

In [82]:
from datetime import datetime as dt

In [83]:
df_final["TimeStamp"].dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: TimeStamp, Length: 108, dtype: int64

In [84]:
df_final["TimeStamp"].dt.month

0      10
1      10
2      10
3      10
4      10
       ..
103    10
104    10
105    10
106    10
107    10
Name: TimeStamp, Length: 108, dtype: int64

In [85]:
df_final["TimeStamp"].dt.day

0      15
1      15
2      15
3      15
4      15
       ..
103    17
104    17
105    17
106    17
107    17
Name: TimeStamp, Length: 108, dtype: int64

In [86]:
ts

Timestamp('2020-10-15 10:30:00')

In [87]:
ts.strftime("%d %m %Y")

'15 10 2020'

In [88]:
ts.strftime("%d-%m-%Y")

'15-10-2020'

In [89]:
ts.strftime("%d:%m:%Y")

'15:10:2020'

In [90]:
ts.strftime("%d/%m/%Y")

'15/10/2020'

In [91]:
ts.strftime("%d-%m-%Y %H:%M:%S")

'15-10-2020 10:30:00'

In [92]:
ts.strftime("%b %d,%Y")

'Oct 15,2020'

In [93]:
ts.strftime("%B %d,%Y")

'October 15,2020'

In [94]:
df_final

Parameter           TimeStamp                Drug_Name  Pressure  Temperature
0         2020-10-15 10:30:00  diltiazem hydrochloride      18.0         20.0
1         2020-10-15 11:30:00  diltiazem hydrochloride      19.0         20.0
2         2020-10-15 12:30:00  diltiazem hydrochloride      20.0         21.0
3         2020-10-15 01:30:00  diltiazem hydrochloride      12.0         23.0
4         2020-10-15 02:30:00  diltiazem hydrochloride      13.0         22.0
..                        ...                      ...       ...          ...
103       2020-10-17 05:30:00   ketamine hydrochloride      11.0         17.0
104       2020-10-17 06:30:00   ketamine hydrochloride      12.0         18.0
105       2020-10-17 07:30:00   ketamine hydrochloride      12.0         19.0
106       2020-10-17 08:30:00   ketamine hydrochloride      11.0         20.0
107       2020-10-17 09:30:00   ketamine hydrochloride      12.0         21.0

[108 rows x 4 columns]

In [95]:
import os

In [96]:
os.getcwd()

'/Users/nikhilsanghi/Downloads/01_dsml-course-main-live/batches/1_Aug_Beg_Mon/14_Data_Visulisation_1_Pandas_6'

In [97]:
os.listdir()

['final_vg.csv',
 'Pfizer_1.csv',
 '14_Data_Visualisation_1_Notebook.ipynb',
 '14_Pandas_6_Notebook.ipynb',
 '.ipynb_checkpoints']

In [98]:
df_final.to_csv("Pfizer_cleaned.csv")

In [99]:
os.listdir()

['final_vg.csv',
 'Pfizer_1.csv',
 '14_Data_Visualisation_1_Notebook.ipynb',
 '14_Pandas_6_Notebook.ipynb',
 '.ipynb_checkpoints',
 'Pfizer_cleaned.csv']

In [101]:
df.to_csv?

In [ ]:
"/Users/nikhilsanghi/Downloads/01_dsml-course-main-live/batches/1_Aug_Beg_Mon/14_Data_Visulisation_1_Pandas_6/New_folder/Pfizer_cleaned_1.csv"

In [104]:
df_final.to_csv("/Users/nikhilsanghi/Downloads/01_dsml-course-main-live/batches/1_Aug_Beg_Mon/14_Data_Visulisation_1_Pandas_6/New_folder/Pfizer_cleaned_1.csv")

In [ ]:
/Users/nikhilsanghi/Downloads/01_dsml-course-main-live/batches/1_Aug_Beg_Mon/14_Data_Visulisation_1_Pandas_6/New_folder

In [105]:
# pd.cut

In [107]:
df_final

Parameter           TimeStamp                Drug_Name  Pressure  Temperature
0         2020-10-15 10:30:00  diltiazem hydrochloride      18.0         20.0
1         2020-10-15 11:30:00  diltiazem hydrochloride      19.0         20.0
2         2020-10-15 12:30:00  diltiazem hydrochloride      20.0         21.0
3         2020-10-15 01:30:00  diltiazem hydrochloride      12.0         23.0
4         2020-10-15 02:30:00  diltiazem hydrochloride      13.0         22.0
..                        ...                      ...       ...          ...
103       2020-10-17 05:30:00   ketamine hydrochloride      11.0         17.0
104       2020-10-17 06:30:00   ketamine hydrochloride      12.0         18.0
105       2020-10-17 07:30:00   ketamine hydrochloride      12.0         19.0
106       2020-10-17 08:30:00   ketamine hydrochloride      11.0         20.0
107       2020-10-17 09:30:00   ketamine hydrochloride      12.0         21.0

[108 rows x 4 columns]

In [109]:
df_final["Temperature"].max()

58.0

In [110]:
df_final["Temperature"].min()

8.0

In [120]:
temp_bins=[5,20,35,50,60]
temp_labels=["low","medium","high","very_high"]
df_final["Temp_Cat"]=pd.cut(df_final["Temperature"],
                           bins=temp_bins,
                           labels=temp_labels,
                           right=True)

In [121]:
df_final

Parameter,TimeStamp,Drug_Name,Pressure,Temperature,Temp_Cat
0,2020-10-15 10:30:00,diltiazem hydrochloride,18.0,20.0,low
1,2020-10-15 11:30:00,diltiazem hydrochloride,19.0,20.0,low
2,2020-10-15 12:30:00,diltiazem hydrochloride,20.0,21.0,medium
3,2020-10-15 01:30:00,diltiazem hydrochloride,12.0,23.0,medium
4,2020-10-15 02:30:00,diltiazem hydrochloride,13.0,22.0,medium
...,...,...,...,...,...
103,2020-10-17 05:30:00,ketamine hydrochloride,11.0,17.0,low
104,2020-10-17 06:30:00,ketamine hydrochloride,12.0,18.0,low
105,2020-10-17 07:30:00,ketamine hydrochloride,12.0,19.0,low
106,2020-10-17 08:30:00,ketamine hydrochloride,11.0,20.0,low
107,2020-10-17 09:30:00,ketamine hydrochloride,12.0,21.0,medium

In [134]:
df_final.groupby(["Date","Drug_Name"])["Pressure"].mean().unstack().stack()

Date        Drug_Name
15-10-2020  diltiazem hydrochloride    16.000000
            docetaxel injection        24.875000
            ketamine hydrochloride      9.333333
16-10-2020  diltiazem hydrochloride    22.545455
            docetaxel injection        27.000000
            ketamine hydrochloride     14.800000
17-10-2020  diltiazem hydrochloride     7.727273
            docetaxel injection        24.500000
            ketamine hydrochloride     11.500000
dtype: float64

In [139]:
df["Parameter"].unique()

array(['Temperature', 'Pressure'], dtype=object)

In [140]:
pd.unique(df["Parameter"])

array(['Temperature', 'Pressure'], dtype=object)

In [146]:
df_final

Parameter,Date,Drug_Name,Time,Pressure,Temperature
0,15-10-2020,diltiazem hydrochloride,10:30:00,18.0,20.0
1,15-10-2020,diltiazem hydrochloride,11:30:00,19.0,20.0
2,15-10-2020,diltiazem hydrochloride,12:30:00,20.0,21.0
3,15-10-2020,diltiazem hydrochloride,1:30:00,12.0,23.0
4,15-10-2020,diltiazem hydrochloride,2:30:00,13.0,22.0
...,...,...,...,...,...
103,17-10-2020,ketamine hydrochloride,5:30:00,11.0,17.0
104,17-10-2020,ketamine hydrochloride,6:30:00,12.0,18.0
105,17-10-2020,ketamine hydrochloride,7:30:00,12.0,19.0
106,17-10-2020,ketamine hydrochloride,8:30:00,11.0,20.0
107,17-10-2020,ketamine hydrochloride,9:30:00,12.0,21.0

In [ ]:
np.sort(a)
a.sort()

In [145]:
pd.unique?

In [149]:
pd.unique(df_final[["Drug_Name","Date"]].values.ravel())

array(['diltiazem hydrochloride', '15-10-2020', 'docetaxel injection',
       'ketamine hydrochloride', '16-10-2020', '17-10-2020'], dtype=object)

In [150]:
np.unique(df_final[["Drug_Name","Date"]])

array(['15-10-2020', '16-10-2020', '17-10-2020',
       'diltiazem hydrochloride', 'docetaxel injection',
       'ketamine hydrochloride'], dtype=object)

In [156]:
pd.unique(df_final[["Drug_Name","Date"]].values.flatten())

array(['diltiazem hydrochloride', '15-10-2020', 'docetaxel injection',
       'ketamine hydrochloride', '16-10-2020', '17-10-2020'], dtype=object)

In [154]:
df_final[["Drug_Name","Date"]].values.flatten()

array(['diltiazem hydrochloride', '15-10-2020', 'diltiazem hydrochloride',
       '15-10-2020', 'diltiazem hydrochloride', '15-10-2020',
       'diltiazem hydrochloride', '15-10-2020', 'diltiazem hydrochloride',
       '15-10-2020', 'diltiazem hydrochloride', '15-10-2020',
       'diltiazem hydrochloride', '15-10-2020', 'diltiazem hydrochloride',
       '15-10-2020', 'diltiazem hydrochloride', '15-10-2020',
       'diltiazem hydrochloride', '15-10-2020', 'diltiazem hydrochloride',
       '15-10-2020', 'diltiazem hydrochloride', '15-10-2020',
       'docetaxel injection', '15-10-2020', 'docetaxel injection',
       '15-10-2020', 'docetaxel injection', '15-10-2020',
       'docetaxel injection', '15-10-2020', 'docetaxel injection',
       '15-10-2020', 'docetaxel injection', '15-10-2020',
       'docetaxel injection', '15-10-2020', 'docetaxel injection',
       '15-10-2020', 'docetaxel injection', '15-10-2020',
       'docetaxel injection', '15-10-2020', 'docetaxel injection',
       '15-10-2020', 'docetaxel injection', '15-10-2020',
       'ketamine hydrochloride', '15-10-2020', 'ketamine hydrochloride',
       '15-10-2020', 'ketamine hydrochloride', '15-10-2020',
       'ketamine hydrochloride', '15-10-2020', 'ketamine hydrochloride',
       '15-10-2020', 'ketamine hydrochloride', '15-10-2020',
       'ketamine hydrochloride', '15-10-2020', 'ketamine hydrochloride',
       '15-10-2020', 'ketamine hydrochloride', '15-10-2020',
       'ketamine hydrochloride', '15-10-2020', 'ketamine hydrochloride',
       '15-10-2020', 'ketamine hydrochloride', '15-10-2020',
       'diltiazem hydrochloride', '16-10-2020', 'diltiazem hydrochloride',
       '16-10-2020', 'diltiazem hydrochloride', '16-10-2020',
       'diltiazem hydrochloride', '16-10-2020', 'diltiazem hydrochloride',
       '16-10-2020', 'diltiazem hydrochloride', '16-10-2020',
       'diltiazem hydrochloride', '16-10-2020', 'diltiazem hydrochloride',
       '16-10-2020', 'diltiazem hydrochloride', '16-10-2020',
       'diltiazem hydrochloride', '16-10-2020', 'diltiazem hydrochloride',
       '16-10-2020', 'diltiazem hydrochloride', '16-10-2020',
       'docetaxel injection', '16-10-2020', 'docetaxel injection',
       '16-10-2020', 'docetaxel injection', '16-10-2020',
       'docetaxel injection', '16-10-2020', 'docetaxel injection',
       '16-10-2020', 'docetaxel injection', '16-10-2020',
       'docetaxel injection', '16-10-2020', 'docetaxel injection',
       '16-10-2020', 'docetaxel injection', '16-10-2020',
       'docetaxel injection', '16-10-2020', 'docetaxel injection',
       '16-10-2020', 'docetaxel injection', '16-10-2020',
       'ketamine hydrochloride', '16-10-2020', 'ketamine hydrochloride',
       '16-10-2020', 'ketamine hydrochloride', '16-10-2020',
       'ketamine hydrochloride', '16-10-2020', 'ketamine hydrochloride',
       '16-10-2020', 'ketamine hydrochloride', '16-10-2020',
       'ketamine hydrochloride', '16-10-2020', 'ketamine hydrochloride',
       '16-10-2020', 'ketamine hydrochloride', '16-10-2020',
       'ketamine hydrochloride', '16-10-2020', 'ketamine hydrochloride',
       '16-10-2020', 'ketamine hydrochloride', '16-10-2020',
       'diltiazem hydrochloride', '17-10-2020', 'diltiazem hydrochloride',
       '17-10-2020', 'diltiazem hydrochloride', '17-10-2020',
       'diltiazem hydrochloride', '17-10-2020', 'diltiazem hydrochloride',
       '17-10-2020', 'diltiazem hydrochloride', '17-10-2020',
       'diltiazem hydrochloride', '17-10-2020', 'diltiazem hydrochloride',
       '17-10-2020', 'diltiazem hydrochloride', '17-10-2020',
       'diltiazem hydrochloride', '17-10-2020', 'diltiazem hydrochloride',
       '17-10-2020', 'diltiazem hydrochloride', '17-10-2020',
       'docetaxel injection', '17-10-2020', 'docetaxel injection',
       '17-10-2020', 'docetaxel injection', '17-10-2020',
       'docetaxel injection', '17-10-2020', 'docetaxel injection',
       '17-10-2020', 'docetaxel injection', '17-10-2020',
       'docetaxel injection', '17-10-2020', 'docetaxel injection',
       '17-10-2020', 'docetaxel injection', '17-10-2020',
       'docetaxel injection', '17-10-2020', 'docetaxel injection',
       '17-10-2020', 'docetaxel injection', '17-10-2020',
       'ketamine hydrochloride', '17-10-2020', 'ketamine hydrochloride',
       '17-10-2020', 'ketamine hydrochloride', '17-10-2020',
       'ketamine hydrochloride', '17-10-2020', 'ketamine hydrochloride',
       '17-10-2020', 'ketamine hydrochloride', '17-10-2020',
       'ketamine hydrochloride', '17-10-2020', 'ketamine hydrochloride',
       '17-10-2020', 'ketamine hydrochloride', '17-10-2020',
       'ketamine hydrochloride', '17-10-2020', 'ketamine hydrochloride',
       '17-10-2020', 'ketamine hydrochloride', '17-10-2020'], dtype=object)